body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('discoBackground.gif');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.makeBlinkyDancer{
  position: absolute;
  height: 30%;
  width: auto;
}

.spinDancer{
  position: absolute;
  height: 10%;
  width: auto;
}
.makeBlinkyDancer:hover{
  height: 40%;
  width: auto;
}
.shuffleDancer:hover,
.colorChangeDancer:hover{
  height: 20%;
  width: auto;
}

.shuffleDancer {
  position: absolute;
  height: 10%;
  width: auto;
}

.colorChangeDancer{
  position: absolute;
  height: 10%;
  width: auto;
  border: 10px solid;
  border-style: solid;
  border-color: blue;
}

.highFive{
  display: none;
  height: auto;
  width: 10%;
  float: right;
  position: relative;
  left: -43%; /* or right 50% */
  text-align: left;
}